# Dependências
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Arquivos de ambiente locais
.env.local
.env.*.local

# Metadados do Sistema Operacional e Editores
.DS_Store
.idea/
.vscode/

# Arquivos de build e cache do Vite
.vite/
coverage/