.Dashboard {
    background-color: #f4f4f4;
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px 0 10px 0;
}

.Dashboard-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1500px;
}

.row {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.chart {
    width: 28.7%;
}

.full-width {
    width: 100%;
}

.contas-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.contas-table th,
.contas-table td {
    border-bottom: 1px solid #ddd; /* Linha abaixo de cada linha */
    padding: 12px; /* Espaço maior entre colunas */
    text-align: center; /* Centraliza o texto */
}

.contas-table th {
    font-weight: bold;
}

.contas-table tbody tr:hover {
    background-color: #f9f9f9; /* Destaque apenas para as linhas do corpo da tabela */
}