:root {
    --cor-global-button: #7748ce;
    --cor-global-button-hover: #7748ce8f;
    --cor-content-title: #cfbffa17;
    --cor-header-table: #fdfcf9;
}

/* Estilos globais para containers */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 0;
    border: 1px solid #7748ce1c;
    border-radius: 10px;
    height: 4vh;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--cor-content-title);
    z-index: 100;
}

.content-title-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.title-items-button {
    background-color: var(--cor-global-button);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    transition: background-color 0.3s ease;
}

.title-items-button:hover {
    background-color: var(--cor-global-button-hover);
}

.title-items-button::before {
    content: '+'; 
    display: block;
    font-size: 2rem;  
    font-weight: 300; 
    line-height: 1;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.title-items-span {
    font-size: 18px;
    font-weight: 400;
}

.title-items-button:hover::before {
    transform: rotate(90deg);
}

/* Estilos globais para cards */
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 95rem;
    height: 85vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: relative;
    min-height: 200px;
}

.card h3 {
    text-align: center;
}

.card table {
    width: 100%;
    border-collapse: collapse;
    /* Remover espaçamento entre as células */
}

.card th,
.card td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    /* Linha divisória entre as categorias */
}

.card th {
    background-color: #f4f4f4;
    /* Cor de fundo para o cabeçalho */
    font-weight: bold;
}

.card .actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card .actions button {
    padding: 5px 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.card .actions button:hover {
    background-color: #e0e0e0;
}

.card .disabled {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card .disabled button {
    padding: 5px 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: default;
}

.show-btn:hover {
    background-color: #45a049;
}

.container-btn-card {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 15
}

.card-icon {
    width: 18px;
    height: 15px;
    fill: currentColor;
    /* usa a cor do texto */
}

/* BotaoGlobal.module.css */
.botao {
    font-size: 16px;
    color: white;
    margin: 0 0 0 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-start;
}

.botao:hover {
    background-color: rgba(145, 131, 173, 0.603);
}

.primaria {
    background-color: #4CAF50;
    color: white;
}

.secundaria {
    background-color: #0d82e7;
    color: white;
}

.vermelho {
    background-color: #dc3545;
    color: white;
}

.roxo {
    background-color: #7748ce;
}

.nenhuma {
    background-color: transparent;
    color: inherit;
}

.icone {
    display: inline-flex;
}

.flexibleTable {
    display: flex;
    flex-direction: column;
    height: 81vh;
    border-radius: 8px;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    justify-content: center;
}

.tableBody {
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.tableRow {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #e0e0e070;
    padding: 10px 0px 10px 0px;
    transition: background-color 0.2s ease-in-out;
    flex-shrink: 0;
}

.tableRow > div {
    text-align: center;
}

.tableHeader {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 1;
    color: #333;
    cursor: default;
    background-color: var(--cor-header-table); 
    border-bottom: 1px solid #e0e0e077;
    padding: 25px 0px 15px 0px;
    font-size: 1rem;
}

.statusBadge {
    padding: 4px 0px 5px 0px;
    border-radius: 18px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    color: #000;
    min-width: 25%;
}

.expandableContainer {
    margin: 0 4rem;
}

.scrollableTableWrapper {
    max-height: 500px;
    overflow-y: auto;
}

.expensesTable {
    width: 100%;
    background-color: #f9f9f9;
    border-collapse: collapse;
    margin: 10px 0;
}

.expensesTable th,
.expensesTable td {
    padding: 5px 0 5px 0;
    text-align: center;
    width: auto;
}

.expensesTable th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.expensesTable td {
    border-bottom: 0 dotted #b0b0b0;
}

.expensesTable tr:last-child td {
    border-bottom: none;
}

@media (max-width: 1600px) {
  .card { width: 70rem; }
}

@media (max-width: 1200px) {
  .card { width: 50rem; }
}

@media (max-width: 992px) {
  .card { width: 42rem; }
}

@media (max-width: 768px) {
  .card { width: 20rem; }
}

@media (max-width: 375px) {
  .card {
    width: 15rem;
    font-size: 10px;
  }
}
