.Expenses {
    composes: container from '../../Styles/GlobalStyles.module.css';
}

.Expenses-content {
    composes: container-content from '../../Styles/GlobalStyles.module.css';
}

.card-expenses {
    composes: card from '../../Styles/GlobalStyles.module.css';
}

.actions {
    composes: actions from '../../Styles/GlobalStyles.module.css';
}

.action-button {
    composes: action-button from '../../Styles/GlobalStyles.module.css';
}

.show-expenses-btn {
    composes: show-btn from '../../Styles/GlobalStyles.module.css';
}