.Categories {
    composes: container from '../../Styles/GlobalStyles.module.css';
}

.Categories-content {
    composes: container-content from '../../Styles/GlobalStyles.module.css';
}

.card-categories {
    composes: card from '../../Styles/GlobalStyles.module.css';
}

.show-categories-btn {
    composes: show-btn from '../../Styles/GlobalStyles.module.css';
}

.categories-title {
    composes: content-title from '../../Styles/GlobalStyles.module.css';
}

.categories-title-items {
    composes: content-title-items from '../../Styles/GlobalStyles.module.css';
}

.title-items-button {
    composes: title-items-button from '../../Styles/GlobalStyles.module.css';
}

.title-items-span {
    composes: title-items-span from '../../Styles/GlobalStyles.module.css';
}