.Header {
    background-color: #dcdcdc;
    height: 7vh; /* Altura do Header */
}

.Header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.Button-header {
    all: unset;

}
