.Invoices {
    composes: container from '../../Styles/GlobalStyles.module.css';
}

.Invoices-content {
    composes: container-content from '../../Styles/GlobalStyles.module.css';
}

.card-invoice {
    composes: card from '../../Styles/GlobalStyles.module.css';
}

.actions {
    composes: actions from '../../Styles/GlobalStyles.module.css';
}

.action-button {
    composes: action-button from '../../Styles/GlobalStyles.module.css';
}       

.btn-card {
    composes: container-btn-card from '../../Styles/GlobalStyles.module.css';
}

.icon {
    composes: card-icon from '../../Styles/GlobalStyles.module.css';
}