.usersGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
}

.userCard {
    width: 257px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: var(--card-r-bc);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.userCard h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.1rem;
}

.userCard p {
    margin: 4px 0;
    font-size: 0.9rem;
}
